:root {
    color-scheme: light dark;
}

* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: light-dark(#FFFFFF, #121212);
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 36px;
    color: light-dark(#160F29, #FFFFFF);
}

input {
    height: 53px;
    border-radius: 5px;
    width: 450px;
    background-color: light-dark(#F1F1F1, #282828);
    border-style: none;
    padding: 10px;
    font-size: 20px;
}

input::placeholder {
    color: light-dark(#160F29, #FFFFFF);
    opacity: 0.5;
    font-size: 20px;
    font-weight: 500;
}

input:focus {
    outline-color: #B8BFFF;
}

button {
    height: 45px;
    border-radius: 20px;
    width: 100%;
    border-style: none;
    background-color: #B8BFFF;
    font-size: 20px;
    color: #160F29;
    font-weight: 500;
}

a {
    color: #160F29;
    text-decoration: none;
}


.login-wrap {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.login-divider {
    width: 100%;
    height: 1px;
    background-color: light-dark(#160F29, #FFFFFF);
}

.divider-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.no-wrap {
    text-wrap: nowrap;
}