<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kubelab - Create account</title>
    <link rel="stylesheet" href="/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet"> 
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <section>
        <div class="login-wrap">
          <h1>Create new account</h1>
          <form method="POST" action="/add-user">
          <input type="text" name="first_name" placeholder="First name" required/>
          <input type="text" name="last_name" placeholder="Last name" required/>
          <input type="email" name="email" placeholder="E-mail" required/>
          <select name="group_id" required>
            <option value="WUOE24">WUOE24</option>
            <option value="WUOE23">WUOE23</option>
          </select>
          <input type="password" placeholder="Password" id="password" required/>
          <input type="password" name="password" placeholder="Confirm password" id="confirm-password" required/>
          <button type="submit">Create Account</button>
          </form>
          </div>
    </section>
    
</body>
</html>

<script>
    let password = document.getElementById("password"),
        confirm_password = document.getElementById("confirm-password")

    function validatePassword() {
        if(password.value != confirm_password.value) {

        confirm_password.setCustomValidity("Password does not match");
        } else {
            confirm_password.setCustomValidity("");
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
    
   document.addEventListener("DOMContentLoaded", () => {
    const themeToggle = document.getElementById("theme-toggle");
    const changeFont = document.getElementById("change-font");
    const fontElement = document.querySelector(".accessibilityFont");
    const savedFont = localStorage.getItem("font");
    const body = document.body;
    const savedTheme = localStorage.getItem("theme");

    if (savedFont === "isAccessible") {
      console.log(savedFont);
        body.classList.add("isAccessible");
        if (fontElement) {
            fontElement.textContent = "Accessible font";
        }
    } else {
        body.classList.remove("isAccessible");
        if (fontElement) {
            fontElement.textContent = "Default font";
        }
    }

    if (savedTheme) {
        body.classList.add(savedTheme);
        themeToggle.querySelector(".icon-darklightmode").textContent = savedTheme === "dark-mode" ? "☀️" : "🌙";
    }

    themeToggle.addEventListener("click", () => {
        const isDarkMode = body.classList.toggle("dark-mode");
        themeToggle.querySelector(".icon-darklightmode").textContent = isDarkMode ? "☀️" : "🌙";

        localStorage.setItem("theme", isDarkMode ? "dark-mode" : "light-mode");
    });
});
</script>