<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="styles"
    />
    <title>Groups</title>
</head>
<body class="body-flex">
    {{> navigation}}
    <section class="section-secondary">
        <div class="default-div">
          <h1>Groups</h1>
          <input type="text" name="group" placeholder="Group name" required/>
          <button>Create new group</button>
    </section>
</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", () => {
    const themeToggle = document.getElementById("theme-toggle");
    const body = document.body;

    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
        body.classList.add(savedTheme);
        themeToggle.querySelector(".icon-darklightmode").textContent = savedTheme === "dark-mode" ? "☀️" : "🌙";
    }

    themeToggle.addEventListener("click", () => {
        const isDarkMode = body.classList.toggle("dark-mode");
        themeToggle.querySelector(".icon-darklightmode").textContent = isDarkMode ? "☀️" : "🌙";

        localStorage.setItem("theme", isDarkMode ? "dark-mode" : "light-mode");
    });
});
</script>