<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="styles"
    />
    <title>Create project</title>
</head>
<body class="body-flex">
  {{> navigation}}
   <section class="section-secondary">
  <div class="default-div">
    <h1>Create project</h1>
    <form method="POST" action="/add-project">
      <input type="text" name="project_name" placeholder="Project name" required />
      <input type="text" name="url" placeholder="Subdomain" required />
      
  
      <select name="template" required>
        <option value="template">Template</option>
        <option value="wordpress">Wordpress</option>
      </select>
      
 <!-- Disse to linjer er skjulte, da jeg gerne vil sende den data med over i poratiner, hvis vi skal bruge det senere til at hente, kan fjernes hvis ikke de skal med og ikke bruges-->
      <input type="hidden" name="groupId" value="{{user.groupId}}" />
      <input type="hidden" name="projectId" value="{{projectId}}" /> 
      
      <button type="submit">Create project</button>
    </form>
    
    <div class="myProgress">
      <div id="create_animation"></div>
    </div>
  </div>
</section>
</body>
</html>

<script>
var i = 0;
function move() {
  if (i == 0) {
    i = 1;
    var elem = document.getElementById("create_animation");
    var width = 1;
    var id = setInterval(frame, 10);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        i = 0;
      } else {
        width++;
        elem.style.width = width + "%";
      }
    }
  }
}
</script>