<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="styles"
    />

    <title>KubeLab - Login</title>
  </head>
  <body>
    <section>
      <div class="login-wrap">
        <div class="default-div">
          <h1>KubeLab</h1>
          
             <form id="form_login" method="POST" action="/login">
          <input id="email" type="text" name="email" placeholder="E-mail" />
          <input id="password" type="password" name="password" placeholder="Password" />
          <p>Forgot your password?</p>
          <button id="login_btn">Login</button>
        </div>
        </form>
        <div class="default-div">
          <div class="divider-wrap">
            <div class="login-divider"></div>
            <p class="no-wrap">Don't have an account?</p>
            <div class="login-divider"></div>
          </div>
          <button ><a href="/createAccount">Sign up</button>
        </div>
      </div>
    </section>
  </body>
</html>
<script>
const loginForm = document.getElementById('form_login');
loginForm.addEventListener('submit', async (event) => {
    event.preventDefault();

    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;

    try {
        const response = await fetch('/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ email, password })
        });

        if (response.redirected) {
            window.location.href = response.url;
        } else {
            console.log('Forkert e-mail eller adgangskode.');
        }
    } catch (error) {
        console.error('Fejl:', error);
    }
});
</script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
    const themeToggle = document.getElementById("theme-toggle");
    const body = document.body;

    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
        body.classList.add(savedTheme);
        themeToggle.querySelector(".icon-darklightmode").textContent = savedTheme === "dark-mode" ? "☀️" : "🌙";
    }

    themeToggle.addEventListener("click", () => {
        const isDarkMode = body.classList.toggle("dark-mode");
        themeToggle.querySelector(".icon-darklightmode").textContent = isDarkMode ? "☀️" : "🌙";

        localStorage.setItem("theme", isDarkMode ? "dark-mode" : "light-mode");
    });
});
</script>