<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="styles"
    />

  </head>
  <body class="body-flex">
    <nav>
      <div class="nav-padding">
      <div>
      <div class="nav-user">
        <svg class="icon" width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M39 20.5C39 30.7172 30.7172 39 20.5 39C10.2827 39 2 30.7172 2 20.5C2 10.2827 10.2827 2 20.5 2C30.7172 2 39 10.2827 39 20.5Z" stroke="#160F29" stroke-width="2.5"/>
          <path d="M25.5876 15.8749C25.5876 18.6847 23.3099 20.9624 20.5001 20.9624C17.6903 20.9624 15.4126 18.6847 15.4126 15.8749C15.4126 13.0652 17.6903 10.7874 20.5001 10.7874C23.3099 10.7874 25.5876 13.0652 25.5876 15.8749Z" stroke="#160F29" stroke-width="2.5"/>
          <path d="M8.4751 33.4501L9.51184 31.6358C11.1587 28.7539 14.2237 26.9751 17.5432 26.9751H23.457C26.7765 26.9751 29.8414 28.7539 31.4883 31.6358L32.525 33.4501" stroke="#160F29" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      <div>
        <h2>Kristoffer Madsen</h2>
        <h4>kenneth@ucl.dk</h4>
      </div>

      </div>
      <div class="nav-list">
        <h4>Main</h4>
        <a id="selected-btn" class="nav-button" href="/projects">
          <svg  class="icon" width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.54276 4.04L4.43163 4.89898C2.74647 6.20176 1.90387 6.85315 1.45193 7.77161C1 8.69007 1 9.75107 1 11.8731V14.1744C1 18.3393 1 20.4218 2.30174 21.7158C3.34962 22.7572 4.91159 22.9604 7.66667 23V18.6063C7.66667 17.5812 7.66667 17.0686 7.83582 16.6643C8.06137 16.1252 8.49398 15.697 9.03844 15.4737C9.44689 15.3063 9.96456 15.3063 11 15.3063C12.0354 15.3063 12.5531 15.3063 12.9616 15.4737C13.506 15.697 13.9387 16.1252 14.1642 16.6643C14.3333 17.0686 14.3333 17.5812 14.3333 18.6063V23C17.0884 22.9604 18.6503 22.7572 19.6982 21.7158C21 20.4218 21 18.3393 21 14.1744V11.8731C21 9.75107 21 8.69007 20.5481 7.77161C20.0961 6.85315 19.2536 6.20176 17.5683 4.89898L16.4572 4.04C13.8357 2.01333 12.5249 1 11 1C9.47511 1 8.1643 2.01333 5.54276 4.04Z" stroke="#2F2F2F" stroke-width="2" stroke-linejoin="round"/>
          </svg>
          <h2>Projects</h2>
        </a>

        <a class="nav-button" href="/createStack">
          <svg class="icon" width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.26998 2.64559L5.37573 3.43362C2.45858 4.64719 1 5.25397 1 6.25C1 7.24603 2.45858 7.85281 5.37574 9.06638L7.26998 9.85439C9.10578 10.6181 10.0238 11 11 11C11.9762 11 12.8942 10.6181 14.73 9.85439L16.6242 9.06638C19.5414 7.85281 21 7.24603 21 6.25C21 5.25397 19.5414 4.64719 16.6242 3.43362L14.73 2.64559C12.8942 1.88186 11.9762 1.5 11 1.5C10.0238 1.5 9.10578 1.88186 7.26998 2.64559Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20.7644 10.5973C20.9214 10.796 21 11.0032 21 11.231C21 12.2128 19.5414 12.811 16.6242 14.0073L14.73 14.7841C12.8942 15.5369 11.9762 15.9134 11 15.9134C10.0238 15.9134 9.10578 15.5369 7.26998 14.7841L5.37574 14.0073C2.45858 12.811 1 12.2128 1 11.231C1 11.0032 1.07852 10.796 1.23556 10.5973" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20.3074 15.7661C20.7691 16.0971 21 16.427 21 16.8176C21 17.7995 19.5414 18.3976 16.6242 19.5939L14.73 20.3707C12.8942 21.1236 11.9762 21.5 11 21.5C10.0238 21.5 9.10578 21.1236 7.26998 20.3707L5.37574 19.5939C2.45858 18.3976 1 17.7995 1 16.8176C1 16.427 1.23087 16.0971 1.6926 15.7661" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <h2>Create Projects</h2>
        </a>

        <a class="nav-button" href="/templates">
          <svg class="icon" width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 1.5V21.5M21 11.5H1" stroke="#160F29" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <h2>Templates</h2>
        </a>

        <a class="nav-button" href="/groups">
          <svg class="icon" width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.26318 17.3947C6.26318 16.3782 6.60901 15.35 7.45363 14.7846C8.46656 14.1063 9.68676 13.7104 11 13.7104C12.3133 13.7104 13.5335 14.1063 14.5464 14.7846C15.3911 15.35 15.7369 16.3782 15.7369 17.3947" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11 11.079C12.4534 11.079 13.6316 9.90076 13.6316 8.44737C13.6316 6.99399 12.4534 5.8158 11 5.8158C9.54661 5.8158 8.36841 6.99399 8.36841 8.44737C8.36841 9.90076 9.54661 11.079 11 11.079Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16.7896 8.44739C17.9581 8.44739 19.0438 8.84412 19.9447 9.5236C20.7084 10.0996 21.0001 11.0738 21.0001 12.0303V12.1316" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16.7896 5.81575C17.9523 5.81575 18.8949 4.87319 18.8949 3.71049C18.8949 2.54778 17.9523 1.60522 16.7896 1.60522C15.6269 1.60522 14.6843 2.54778 14.6843 3.71049C14.6843 4.87319 15.6269 5.81575 16.7896 5.81575Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5.21053 8.44739C4.04197 8.44739 2.95627 8.84412 2.05533 9.5236C1.29164 10.0996 1 11.0738 1 12.0303V12.1316" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5.21049 5.81575C6.37319 5.81575 7.31575 4.87319 7.31575 3.71049C7.31575 2.54778 6.37319 1.60522 5.21049 1.60522C4.04778 1.60522 3.10522 2.54778 3.10522 3.71049C3.10522 4.87319 4.04778 5.81575 5.21049 5.81575Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <h2>Groups</h2>
        </a>
        </div>
        </div>

        <div class="nav-list" href="/user">
        <h4>Other</h4>
        <a class="nav-button">
          <svg class="icon" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21 11C21 16.5228 16.5228 21 11 21C5.47715 21 1 16.5228 1 11C1 5.47715 5.47715 1 11 1C16.5228 1 21 5.47715 21 11Z" stroke="#160F29" stroke-width="2"/>
            <path d="M13.75 8.5C13.75 10.0188 12.5188 11.25 11 11.25C9.4812 11.25 8.25 10.0188 8.25 8.5C8.25 6.98122 9.4812 5.75 11 5.75C12.5188 5.75 13.75 6.98122 13.75 8.5Z" stroke="#160F29" stroke-width="2"/>
            <path d="M4.5 18.0001L5.0604 17.0194C5.95061 15.4616 7.60733 14.5001 9.40165 14.5001H12.5984C14.3926 14.5001 16.0493 15.4616 16.9395 17.0194L17.4999 18.0001" stroke="#160F29" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <h2>User</h2>
        </a>

        <a class="nav-button">
          <svg class="icon" width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21 13.7972C19.7372 14.5051 18.2948 14.9065 16.7633 14.9065C11.7885 14.9065 7.75571 10.672 7.75571 5.44852C7.75571 3.84037 8.13795 2.32596 8.81224 1C4.33437 2.10193 1 6.32199 1 11.3597C1 17.2362 5.53695 22 11.1336 22C15.9315 22 19.9505 18.499 21 13.7972Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <h2>Dark mode</h2>
        </a>

        <a class="nav-button">
          <svg class="icon" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.2222 1.10558C12.7144 1.03601 12.195 1 11.6667 1C5.77563 1 1 5.47715 1 11C1 16.5229 5.77563 21 11.6667 21C12.195 21 12.7144 20.964 13.2222 20.8944" stroke="#160F29" stroke-width="2" stroke-linecap="round"/>
            <path d="M20.9998 11H9.88867M20.9998 11C20.9998 10.222 18.7839 8.76834 18.222 8.2222M20.9998 11C20.9998 11.778 18.7839 13.2316 18.222 13.7777" stroke="#160F29" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <h2>Logout</h2>
        </a>
        </div>
  
    </nav>
    <section class="section-main">
      <div>
        <h1>Projects</h1>
        <input class="search-field" type="text" placeholder="Search...">
      </div>

      <div>
        <h2>View projects</h2>
        <div class="switch-container">
          <button>My projects</button>
          <button>Other projects</button>
        </div>
      </div>

      <div class="projects-container">
        <div class="projects-label">
          <h4 class="tabel">Project name</h4>
          <h4 class="tabel">URL</h4>
          <h4 class="status-container">Status</h4>
        </div>

        <div class="projects">
          <div class="projects-main-details" onclick="toggleDropdown(this)">
            <h2 class="tabel">Projects_1</h2>
            <h2 class="tabel">kenneth.kubelab.dk</h2>
              <div class="status-container">
                <div class="status">
                  <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="icon-stroke" d="M10.3333 18.8333C14.9357 18.8333 18.6667 15.1023 18.6667 10.5C18.6667 5.89759 14.9357 2.16663 10.3333 2.16663C5.73096 2.16663 2 5.89759 2 10.5C2 15.1023 5.73096 18.8333 10.3333 18.8333Z" stroke="white" stroke-width="1.25"/>
                    <path class="icon-fill" d="M7.91663 9.81091V11.189C7.91663 12.4973 7.91663 13.1514 8.29643 13.4159C8.67621 13.6802 9.19563 13.3877 10.2345 12.8027L11.458 12.1135C12.7082 11.4095 13.3333 11.0575 13.3333 10.5C13.3333 9.94249 12.7082 9.59047 11.458 8.88642L10.2345 8.19731C9.19563 7.61224 8.67621 7.3197 8.29643 7.5841C7.91663 7.84849 7.91663 8.50263 7.91663 9.81091Z" fill="white"/>
                  </svg>
                  <h2>Running</h2>
                </div>
              <svg class="icon" width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="icon-stroke" d="M11 1.00004C11 1.00004 7.31758 6 6 6C4.68233 6 1 1 1 1" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              </div>
          </div>
          <div class="projects-dropdown">
            <div class="info-wrap">
              <div class="info-box">
                <h4>Mail</h4>
                <h2>kenneth@ucl.dk</h2>
              </div>
              <div class="info-box">
                <h4>Template type</h4>
                <h2>Wordpress</h2>
              </div>
              <div class="info-box-2">
                <h4>Created date</h4>
                <h2>04-29-2024</h2>
              </div>
            </div>

            <div class="dropdown-buttons">
              <a class="projects-button" href="">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.3333 18.8333C14.9357 18.8333 18.6667 15.1023 18.6667 10.5C18.6667 5.89759 14.9357 2.16663 10.3333 2.16663C5.73096 2.16663 2 5.89759 2 10.5C2 15.1023 5.73096 18.8333 10.3333 18.8333Z" stroke="black" stroke-width="1.25"/>
                  <path d="M7.91663 9.81091V11.189C7.91663 12.4973 7.91663 13.1514 8.29643 13.4159C8.67621 13.6802 9.19563 13.3877 10.2345 12.8027L11.458 12.1135C12.7082 11.4095 13.3333 11.0575 13.3333 10.5C13.3333 9.94249 12.7082 9.59047 11.458 8.88642L10.2345 8.19731C9.19563 7.61224 8.67621 7.3197 8.29643 7.5841C7.91663 7.84849 7.91663 8.50263 7.91663 9.81091Z" fill="black"/>
                </svg>
                <h2>Start</h2>
              </a>
              <a class="projects-button"  href="">
                <svg id="restart-animation" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.1472 15.4583C15.1681 14.0699 16.5 11.6957 16.5 9C16.5 4.7198 13.1422 1.25 9 1.25C8.42717 1.25 7.86933 1.31636 7.33333 1.44205M13.1472 15.4583V12.4444M13.1472 15.4583H16.0833M4.83333 2.55506C2.82336 3.94534 1.5 6.31297 1.5 9C1.5 13.2802 4.85787 16.75 9 16.75C9.57283 16.75 10.1307 16.6836 10.6667 16.558M4.83333 2.55506V5.55556M4.83333 2.55506H1.91667" stroke="black" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h2>Restart</h2>
              </a>
              <a class="projects-button" href="">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.99996 18.8333C14.6023 18.8333 18.3333 15.1023 18.3333 10.5C18.3333 5.89759 14.6023 2.16663 9.99996 2.16663C5.39759 2.16663 1.66663 5.89759 1.66663 10.5C1.66663 15.1023 5.39759 18.8333 9.99996 18.8333Z" stroke="black" stroke-width="1.25"/>
                  <path d="M7.91663 8V13M12.0833 8V13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h2>Stop</h2>
              </a>
              <a id="delete-button" class="projects-button" href="">
                <svg id="delete-button-animation"width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.25 5.40283L15.7336 14.0356C15.6016 16.2411 15.5357 17.3439 15.0007 18.1369C14.7361 18.5288 14.3956 18.8597 14.0006 19.1083C13.2017 19.6112 12.1325 19.6112 9.99392 19.6112C7.8526 19.6112 6.78192 19.6112 5.98254 19.1073C5.58733 18.8583 5.24667 18.5269 4.98223 18.1342C4.4474 17.3401 4.38287 16.2357 4.25384 14.027L3.75 5.40283" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
                  <path d="M2.5 5.40256H17.5M13.3797 5.40256L12.8109 4.18988C12.433 3.38434 12.244 2.98156 11.9181 2.73037C11.8458 2.67465 11.7693 2.62508 11.6892 2.58216C11.3283 2.38867 10.8951 2.38867 10.0287 2.38867C9.14067 2.38867 8.69667 2.38867 8.32973 2.59028C8.24842 2.63496 8.17082 2.68653 8.09774 2.74446C7.76803 3.00583 7.58386 3.42334 7.21551 4.25837L6.71077 5.40256" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
                  <path d="M7.91699 14.8747V9.70801" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
                  <path d="M12.083 14.8747V9.70801" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
                </svg>
                <h2>Delete</h2>
              </a>

            </div>
          </div>
        </div>

      </div>
    </section>

  </body>
</html>

<script>
    function toggleDropdown(element) {
        const dropdown = element.nextElementSibling; // .projects-dropdown is the next sibling of .projects-main-details
        if (dropdown.style.display === "flex") {
            dropdown.style.display = "none";
        } else {
            dropdown.style.display = "flex";
        }
    }
</script>