<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="styles"
    />

  </head>
  <body>
    <nav>
      <div class="nav-user">
        <svg class="icon" width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M39 20.5C39 30.7172 30.7172 39 20.5 39C10.2827 39 2 30.7172 2 20.5C2 10.2827 10.2827 2 20.5 2C30.7172 2 39 10.2827 39 20.5Z" stroke="#160F29" stroke-width="2.5"/>
          <path d="M25.5876 15.8749C25.5876 18.6847 23.3099 20.9624 20.5001 20.9624C17.6903 20.9624 15.4126 18.6847 15.4126 15.8749C15.4126 13.0652 17.6903 10.7874 20.5001 10.7874C23.3099 10.7874 25.5876 13.0652 25.5876 15.8749Z" stroke="#160F29" stroke-width="2.5"/>
          <path d="M8.4751 33.4501L9.51184 31.6358C11.1587 28.7539 14.2237 26.9751 17.5432 26.9751H23.457C26.7765 26.9751 29.8414 28.7539 31.4883 31.6358L32.525 33.4501" stroke="#160F29" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      <div>
        <h2>Kristoffer Madsen</h2>
        <h4>kenneth@ucl.dk</h4>
      </div>

      </div>
        <button></button>
      <div>

      </div>
    </nav>

  </body>
</html>