<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="styles"
    />
</head>
<body class="body-flex">
    {{> navigation}}
    <section class="section-secondary">
        <h1>Settings</h1>
        <div class="flex-div">
            <div class="default-div">
                <h2>Change name</h2>
                <input type="text" placeholder="First name">
                <input type="text" placeholder="Last name">
                <button><a>Save name</a></button>
            </div>

            <div class="default-div">
                <h2>Change password</h2>
                <p>To keep up the safety of your account, please change your password once every three months.</p>
                <button><a href="/changePassword">Change password</a></button>                
                <br>
                <h2>Dark/light mode</h2>
                <button id="theme-toggle" aria-label="Toggle Theme">
                    <span class="icon-darklightmode">🌙</span>
                <h2>Change mode</h2>
                </button>
                <br>
                <h2>Change font</h2>
                <button><a>Change font</a></button>
            </div>
        </div>

    </section>

    
</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
    const themeToggle = document.getElementById("theme-toggle");
    const body = document.body;

    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
        body.classList.add(savedTheme);
        themeToggle.querySelector(".icon-darklightmode").textContent = savedTheme === "dark-mode" ? "☀️" : "🌙";
    }

    themeToggle.addEventListener("click", () => {
        const isDarkMode = body.classList.toggle("dark-mode");
        themeToggle.querySelector(".icon-darklightmode").textContent = isDarkMode ? "☀️" : "🌙";

        localStorage.setItem("theme", isDarkMode ? "dark-mode" : "light-mode");
    });
});
</script>
</html>