<body class="body-flex">
    {{> navigation}}
    <section class="section-secondary">
        <h1>Change password</h1>
        <div class="flex-div">
            <div class="default-div">
                <form class="forms" action="/changePassword" method="POST">
                    <input type="password" name="currentPassword" placeholder="Current password" required>
                    <input type="password" name="newPassword" placeholder="New password" required>
                    <input type="password" name="confirmPassword" placeholder="Confirm new password" required>
                    <button type="submit">Save</button>
                    {{#if error}}
                    <p class="error">{{error}}</p>
                    {{/if}}

                </form>
            </div>
        </div>
    </section>
</body>
