<body class="body-flex">
    {{> navigation}}
    <section class="section-secondary">
        <div class="default-div">
          <h1>Groups</h1>
          <h3>Create new group</h3>
          <input type="text" name="group" placeholder="Group name" required/>
          <button>Create new group</button>
    </section>
</body>