<body class="body-flex">
    {{> navigation}}
    <section class="section-secondary">
        <div class="default-div">
          <h1>Templates</h1>
          <h2>Create new template</h2>
          <form class="forms" method="POST" action="/add-template">
          <input type="text" name="template" placeholder="Template name" required/>
          <input type="text" name="content" placeholder="Content" required/>
          <button>Create template</button>
          </form>
          </div>
    </section>
</body>