<body class="body-flex">
    {{> navigation}}
    <section class="section-secondary">
        <div class="default-div">
          <h1>Groups</h1>
            <input class="search-field" type="text" placeholder="Search...">
            <h3>Find group</h3>
          <select>
            <option value="Wuoe24">WUOE24</option>
            <option value="Wuoe23">WUOE23</option>
          </select>
          <h3>Create new group</h3>
          <button><a href="/createGroup">Create new group</a></button>
        </div>
    </section>
</body>