<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kubelab</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet"> 
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
</head>

{{{body}}}

</html>


<script>
document.addEventListener("DOMContentLoaded", () => {
    console.log("DOMContentLoaded fired");
    const themeToggle = document.getElementById("theme-toggle");
    const changeFont = document.getElementById("change-font");
    const fontElement = document.querySelector(".accessibilityFont");
    const savedFont = localStorage.getItem("font");
    const body = document.body;

        console.log("savedFont:", savedFont);


    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
        body.classList.add(savedTheme);
        themeToggle.querySelector(".icon-darklightmode").textContent = savedTheme === "dark-mode" ? "â˜€ï¸" : "ðŸŒ™";
    }

    themeToggle.addEventListener("click", () => {
        const isDarkMode = body.classList.toggle("dark-mode");
        themeToggle.querySelector(".icon-darklightmode").textContent = isDarkMode ? "â˜€ï¸" : "ðŸŒ™";

        localStorage.setItem("theme", isDarkMode ? "dark-mode" : "light-mode");
    });
    
    
    if (savedFont === "isAccessible") {
        body.classList.add("isAccessible");
        if (fontElement) {
            fontElement.textContent = "";
            console.log("1");
        }
    } else {
        body.classList.remove("isAccessible");
        if (fontElement) {
            fontElement.textContent = "";
            console.log("2");
        }
    }

    changeFont.addEventListener("click", () => {
        const isAccessible = body.classList.toggle("isAccessible");
        console.log("3");
        if (fontElement) {
            fontElement.textContent = isAccessible ? "" : "";
            console.log("4");
        }

        localStorage.setItem("font", isAccessible ? "isAccessible" : "notAccessible");
    });
});
</script>