<body class="body-flex">
  {{> navigation}}
    <section class="section-secondary">
        <div class="default-div">
          <h1>Templates</h1>
          <h3>Your templates</h3>
          <select>
            <option value="Wordpress">Wordpress</option>
            <option value="Ngnix">Ngnix</option>

          </select>
          <h3>Create new template</h3>
          <button><a href="/createTemplate">Create new Template</a></button>
        </div>
    </section>
</body>
